body {
    overflow-x: hidden;
}


#haushaltsbudgetrechner {
    font-family: OpenSans, sans-serif;
    max-width: 1150px;
    width: 100%;
    box-sizing: content-box;
    word-wrap: normal;
}

#haushaltsbudgetrechner .opt-header {
    position: relative;
    width: 100%;
    height: 115px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

#haushaltsbudgetrechner .opt-header__background {
    position: absolute;
    background: #216197;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#haushaltsbudgetrechner .opt-header__text {
    color: white;
    font-size: 1.8rem;
    font-family: Muli, sans-serif;
    font-weight: 700;
}

#haushaltsbudgetrechner .opt-body {
    padding: 0;
    position: relative;
    background: white;
}

#haushaltsbudgetrechner .opt-body__background {
    position: absolute;
    background: #f0f4f9;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 -50vw;
    z-index: -1;
}

#haushaltsbudgetrechner .opt-body__section-heading {
    color: #216197;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 35px;
}

#haushaltsbudgetrechner .opt-body__section-one {
    background: rgb(233,239,245);
    padding: 50px 9.5% 10px;
}

#haushaltsbudgetrechner .opt-body__slider-text-above-wrapper {
    display: flex;
    flex-direction: row;
}

#haushaltsbudgetrechner .opt-body__slider-input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

#haushaltsbudgetrechner .opt-body__slider-wrapper {
    width: 60%
}

#haushaltsbudgetrechner .opt-body__input-wrapper {
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

#haushaltsbudgetrechner .opt-body__slider-text-above-wrapper, #haushaltsbudgetrechner .opt-body__slider-text-below-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#haushaltsbudgetrechner .opt-body__slider-text-below-wrapper {
    margin-top: -5px;
}

#haushaltsbudgetrechner .opt-body__slider-text-below, #haushaltsbudgetrechner .opt-body__slider-text-above {
    font-size: 15px;
}

#haushaltsbudgetrechner input::-webkit-outer-spin-button, #haushaltsbudgetrechner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#haushaltsbudgetrechner input[type=number] {
    -moz-appearance: textfield;
}

#haushaltsbudgetrechner input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    padding-top: 15px;
    margin-bottom: 0;
    background: transparent;
}


#haushaltsbudgetrechner input[type="range"]::-webkit-slider-runnable-track {
    height: 7px;
    -webkit-appearance: none;
    background: #d4d4d4;
    border-radius: 5px;
    margin-bottom: 3px;
}

#haushaltsbudgetrechner input[type="range"]::-webkit-slider-thumb {
    margin-top: -10px;
    -webkit-appearance: none;
    background-color: #216197;
    height: 26px;
    width: 26px;
    border-radius: 100%;
    border: 3px solid white;
    cursor: ew-resize;
}

#haushaltsbudgetrechner input[type="range"]:focus {
    outline: 0;
}

/** FF*/
#haushaltsbudgetrechner input[type="range"]::-moz-range-progress {
    background-color: #216197;
    height: 7px;
    border-radius: 5px;
}

#haushaltsbudgetrechner input[type="range"]::-moz-range-track {
    background-color: #d4d4d4;
    height: 7px;
    border-radius: 5px;
}

#haushaltsbudgetrechner input[type="range"]::-moz-range-thumb {
    background-color: #216197;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    border: 3px solid white;
    cursor: ew-resize;
}

#haushaltsbudgetrechner input[type="range"]::-moz-focus-outer {
    border: 0;
}

/* IE*/
#haushaltsbudgetrechner input[type="range"]::-ms-fill-lower {
    background-color: #216197;
}

#haushaltsbudgetrechner input[type="range"]::-ms-fill-upper {
    background-color: #d4d4d4;
}

#haushaltsbudgetrechner .opt-body__input {
    -webkit-appearance: none;
    -webkit-text-fill-color: currentColor;
    opacity: 1;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: rgb(251, 251, 251) none repeat scroll 0% 0%;
    border: 0px none;
    box-shadow: rgb(205, 205, 205) 0px 0px 5px inset;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 700;
    font-size: 17px;
}

#haushaltsbudgetrechner .opt-body__slider-input-wrapper .opt-body__input {
    margin-bottom: 10px;
}

#haushaltsbudgetrechner .opt-body__input-label {
    position: absolute;
    right: 7.5%;
    font-size: 14px;
}

#haushaltsbudgetrechner .opt-body__slider-input-wrapper .opt-body__input-label {
    padding-bottom: 10px;
}

#haushaltsbudgetrechner .opt-body__section-two {
    background: #FFF;
    padding: 50px 9.5% 10px;
}

#haushaltsbudgetrechner .opt-body__row-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#haushaltsbudgetrechner .opt-body__section-three {
    background: rgb(190,207,224);
    padding: 40px 11.5% 30px 5%;
}
#haushaltsbudgetrechner .opt-body__section-three .opt-body__row-wrapper:last-child {
    margin-top: 20px;
}
#haushaltsbudgetrechner .opt-body__text, #haushaltsbudgetrechner .opt-body__number, #haushaltsbudgetrechner .opt-body__label {
    color: #216197;
    font-weight: 700;
}
#haushaltsbudgetrechner .opt-body__text {
    font-size: 1.25rem;
}
#haushaltsbudgetrechner .opt-body__number {
    font-size: 1.6rem;
    line-height: 1;
}
#haushaltsbudgetrechner .opt-body__label {
    margin-left: 30px;
    line-height: 1.2;
}
#haushaltsbudgetrechner .opt-body__number-label-wrapper {
    display: flex;
    align-items: flex-end;
}
#haushaltsbudgetrechner .opt-body__text-wrapper {
    width: 60.5%;
    text-align: right;
}
#haushaltsbudgetrechner .opt-body__section-four {
    background: #216197;
    padding: 26.75px 11.5% 26.75px 5%;
    margin-top: 5px;
}
#haushaltsbudgetrechner .opt-body__section-four .opt-body__text, #haushaltsbudgetrechner .opt-body__section-four .opt-body__number, #haushaltsbudgetrechner .opt-body__section-four .opt-body__label {
    color: #FFF
}
#haushaltsbudgetrechner .opt-body__section-four .opt-body__text {
    font-size: 1.6rem;
}

#haushaltsbudgetrechner .opt-inquiry-button-wrapper {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background: #fdefe0;
    margin-top: 5px;
}

#haushaltsbudgetrechner .opt-inquiry-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background: rgb(239, 125, 0) none repeat scroll 0% 0%;
    color: white;
    border: 0px none;
    border-radius: 2px;
    align-self: center;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    padding: 8px 40px;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
 #haushaltsbudgetrechner .opt-inquiry-button-wrapper {
     flex-wrap: wrap;
 }
    #haushaltsbudgetrechner .opt-inquiry-button {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 640px) {
    #haushaltsbudgetrechner .opt-body__slider-text-below-wrapper {
        display: none;
    }
    #haushaltsbudgetrechner input[type="range"] {
        display: none;
    }
    #haushaltsbudgetrechner .opt-body__input {
        height: 42px;
        font-size: 1.4rem;
    }
    #haushaltsbudgetrechner .opt-body__number {
        font-size: 1.4rem;
    }
    #haushaltsbudgetrechner .opt-body__slider-text-above {
        font-size: 1rem;
    }
    #haushaltsbudgetrechner .opt-body__input-wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    #haushaltsbudgetrechner .opt-header__text {
        font-size: 1.6rem;
    }
    #haushaltsbudgetrechner .opt-body__input-wrapper {
        width: 80%;
    }
    #haushaltsbudgetrechner .opt-body__slider-text-above {
        width: 100%;
        margin-bottom: 10px;
    }
    #haushaltsbudgetrechner .opt-body__slider-input-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    #haushaltsbudgetrechner .opt-body__slider-wrapper {
        width: 80%;
    }
    #haushaltsbudgetrechner .opt-body__label {
        margin-left: 15px;
    }
    #haushaltsbudgetrechner .opt-body__text {
        font-size: 1.125rem;
    }
    #haushaltsbudgetrechner .opt-body__section-four .opt-body__text {
        font-size: 1.25rem;
    }
    #haushaltsbudgetrechner .opt-body__section-heading {
        padding-bottom: 25px;
    }
    #haushaltsbudgetrechner .opt-body__section-one {
        padding: 30px 9.5% 0;
    }
    #haushaltsbudgetrechner .opt-body__section-two {
        padding: 30px 9.5% 15px;
    }
    #haushaltsbudgetrechner .opt-body__slider-input-wrapper .opt-body__input {
        margin-bottom: 0;
    }
    #haushaltsbudgetrechner .opt-body__slider-input-wrapper .opt-body__input-label {
        margin-bottom: 0px;
    }
    #haushaltsbudgetrechner .opt-inquiry-button-wrapper {
        padding: 25px 9.5%;
    }
    #haushaltsbudgetrechner .opt-inquiry-button {
    font-size: 1rem;
     }
}

@media screen and (max-width: 420px) {
    #haushaltsbudgetrechner .opt-header__text {
        font-size: 1.4rem;
    }
    #haushaltsbudgetrechner .opt-body__text {
        font-size: 1rem;
    }
    #haushaltsbudgetrechner .opt-body__section-four .opt-body__text {
        font-size: 1.125rem;
    }
    #haushaltsbudgetrechner .opt-body__text-wrapper {
        width: 50%;
    }
    #haushaltsbudgetrechner .opt-inquiry-button {
        padding: 8px 10%;
    }
}

@media screen and (max-width: 380px) {
    #haushaltsbudgetrechner .opt-header__text {
        font-size: 1.2rem;
    }
    #haushaltsbudgetrechner .opt-body__text {
        font-size: 0.9rem;
    }
    #haushaltsbudgetrechner .opt-body__section-four .opt-body__text {
        font-size: 1rem;
    }
    #haushaltsbudgetrechner .opt-inquiry-button {
        padding: 8px 5%;
    }
    #haushaltsbudgetrechner .opt-inquiry-button-wrapper {
        padding: 25px 8.5%;
    }
}
